<div class="text-center" [class.centered]="pagesLength===0">
  <div>
    <a target="_blank" href="https://en.wikipedia.org/wiki/Special:Random">
      <p class="text-primary">Click here for a random article</p>
    </a>
  </div>
  <div>
    <app-icon-search *ngIf="isInputSearchHidden; else inputSearch" (onToggleSearchInput)="toggleSearchInput()"></app-icon-search>
    <ng-template #inputSearch>
      <app-input-search (onToggleSearchInput)="toggleSearchInput()"></app-input-search>
    </ng-template>

  </div>
</div>